@import "fonts"
@import "vars"
@import "mixins"

*
	padding: 0
	margin: 0
	box-sizing: border-box

ul, li
	padding: 0
	margin: 0

li
	list-style: none

a, a:hover, a:active, a:visited
	text-decoration: none
	color: $main-text-color

body
	font-family: aclonica, sans-serif
	font-size: 13px
	line-height: 24px
	color: $main-text-color

.container
	max-width: 1170px
	margin: 0 auto
	box-sizing: content-box
	padding: 0 30px

.btn
	@include btn

	&:hover
			cursor: pointer

.btn-transparent
	@include btnTransparent

.main-header
	position: fixed
	z-index: 10
	top: 0
	width: 100%
	padding: 19px 0

	.menu__item
		text-transform: uppercase

	.desktop-menu
		display: none

	&.sticky
		background-color: $white-color

		.hamburger-menu

			.menu__btn
				box-shadow: none

				span
					background-color: $gray-text-color

					&::before, &::after
						background-color: $gray-text-color


		.main-header__logo
			display: block
			background: url('../img/logo.png') center/contain
			background-repeat: no-repeat

		.desktop-menu

			.menu__item

				color: $gray-text-color

			.menu__item:hover::after, .menu__item.active::after
				background-color: $gray-text-color

			.menu__buttons

				.btn
					color: $gray-text-color
					border-color: $gray-text-color
					box-shadow: none

					&:hover
						@include secondaryBtnHover


	&__container
		display: flex
		justify-content: space-between
	
		#menu__toggle
			opacity: 0

		.menu__btn
			display: flex
			align-items: center
			position: fixed
			top: 18px
			width: 22px
			height: 22px
			cursor: pointer
			z-index: 1

		.menu__btn > span,
		.menu__btn > span::before,
		.menu__btn > span::after
			display: block
			position: absolute
			width: 100%
			height: 2px
			background-color: $white-color

		.menu__btn > span::before
			content: ''
			top: -6px

		.menu__btn > span::after
			content: ''
			top: 6px

		.menu__box
			z-index: 2
			display: flex
			flex-direction: column
			justify-content: space-between
			position: fixed
			visibility: hidden
			top: 62px
			right: -100%
			width: 100%
			height: calc(100% - 62px)
			margin: 0
			padding: 40px 0
			list-style: none
			text-align: center
			background-color: $white-color
			box-shadow: 1px 0px 6px rgba(0, 0, 0, .2)

			.menu__item
				position: relative
				display: block
				color: $accent-green-color
				font-family: Acme, sans-serif
				font-size: 12px
				letter-spacing: 2px
				text-align: center
				padding: 5px 0
				margin-bottom: 15px

			.menu__item:hover::after, .menu__item.active::after
				content: ''
				position: absolute
				bottom: 0
				left: 50%
				transform: translate(-50%, 0)
				width: 40px
				height: 2px
				background-color: $accent-green-color

			.menu__buttons

				.btn
					display: block
					margin: 0 auto
					margin-bottom: 16px
					user-select: none

					&:hover
						cursor: pointer
						color: $white-color
						background-color: $accent-green-color

				.get-skout-btn
					@include btnPaddingX(54px)

				.log-in-btn
					@include btnPaddingX(22px)

		#menu__toggle:checked ~ .menu__btn > span
			transform: rotate(45deg)

		#menu__toggle:checked ~ .menu__btn > span::before
			top: 0
			transform: rotate(0)

		#menu__toggle:checked ~ .menu__btn > span::after
			top: 0
			transform: rotate(90deg)

		#menu__toggle:checked ~ .menu__box
			visibility: visible
			right: 0

	&__logo
		display: flex
		width: 110px
		background: url('../img/logo-white.png') center/contain
		background-repeat: no-repeat
		z-index: 2


.hero
	position: relative
	color: $white-color
	background: #11C0E6
	background: -webkit-linear-gradient(60deg, #11C0E6 20%, #01F86E 95%)
	background: -moz-linear-gradient(60deg, #11C0E6 20%, #01F86E 95%)
	background: linear-gradient(60deg, #11C0E6 20%, #01F86E 95%)
	padding-bottom: 100px	

	.container
		position: relative

	&__credo
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

		.credo__phrase
			margin-bottom: 20px

			p
				position: relative
				font-family: aclonica, sans-serif
				font-size: 13px
				line-height: 24px
				letter-spacing: 0px
				text-align: left
				margin-top: 30px
				padding-left: 20px

				&::before
					position: absolute
					top: 5px
					left: 0
					content: ''
					width: 2px
					height: 75%
					background-color: $white-color

		.why-skout-btn
			@include btnPaddingX(62px)
			width: max-content
			background-color: $white-color
			color: $accent-green-color
			border-color: $white-color

			&:hover
				color: $white-color
				background-color: $accent-green-color
				border-color: $accent-green-color

	&__slogan
		text-transform: uppercase
		font-family: actor, sans-serif
		font-size: 60px
		font-weight: normal
		line-height: 70px
		letter-spacing: 1px
		text-align: center
		padding-top: 75px


.main
	padding-top: 60px

	.section-header
		font-family: aclonica, sans-serif
		font-size: 24px
		font-style: normal
		font-weight: 400
		line-height: 36px
		letter-spacing: 0px
		text-align: left
		margin-bottom: 20px

	.about

		.container
			display: grid

		// .fade-in
		// 	opacity: 0

		// 	&.fade-show
		// 		opacity: 1
		// 		transition: opacity 2s

		// 	&.fade-in-main

		// 		&.fade-show
		// 			transition: opacity 1s

		&__img
			margin: 40px 0

			img
				width: 100%
				height: auto

		&__text
			font-family: aclonica, sans-serif
			font-size: 13px
			line-height: 24px
			letter-spacing: 0px
			text-align: left

		&__buttons
			text-align: center

			.learn-more-btn
				@include btnPaddingX(57px)
				color: $accent-green-color
				background-color: $white-color
				border-color: $accent-green-color
				margin-bottom: 30px

				&:hover
					@include secondaryBtnHover

			.explore-btn
				@include btnPaddingX(35px)

				&:hover
					@include primaryBtnHover

	.cybersecurity
		margin-top: 80px

		.section-header
			margin-bottom: 35px

		.cybersecurity__items
			display: flex
			flex-direction: column

		&__item
			display: flex
			position: relative
			justify-content: space-between
			padding: 10px 15px 10px
			margin-bottom: 20px
			box-shadow: 0px 12px 24px $box-shadow-color
			border-radius: 5px
			border-left: 5px solid $accent-green-color

			&-header
			font-size: 16px
			line-height: 24px
			letter-spacing: 0px

			&-text
				text-align: left

			&-img
				display: flex
				align-items: center
				margin: 0 15px

				img
					width: 58px
					height: auto

		&__tip
			position: absolute
			bottom: 15px
			right: 15px

			&-img
				width: 19px
				height: 19px
				
			&:hover

				&::after
					content: attr(data-title)
					position: absolute
					width: max-content
					top: -50px
					left: -250px
					z-index: 5
					font-size: 12px
					color: $tip-text-color
					background-color: $white-color
					border: 1px solid $light-gray-color
					border-radius: 7px
					padding: 8px 3px

		.more-tips-btn
			@include btnPaddingX(65px)
			display: block
			margin: 20px auto 80px auto

			&:hover
				color: $accent-green-color
				border-color: $accent-green-color
				background-color: $white-color

	.problems
		background: -webkit-linear-gradient(45deg, rgb(152, 207, 195), rgb(248, 248, 250), rgb(255, 255, 255))
		background: -moz-linear-gradient(45deg, rgb(152, 207, 195), rgb(248, 248, 250), rgb(255, 255, 255))
		background: linear-gradient(45deg, rgb(152, 207, 195), rgb(248, 248, 250), rgb(255, 255, 255))
		padding: 40px 0 350px

		&__slider-container
			padding-top: 70px

			.slick-arrow
				display: none

			.slick-dots
				display: flex
				justify-content: center
				align-items: center
				position: absolute
				margin: 0 auto
				top: 0
				left: 50%
				transform: translateX(-50%)

				li
					list-style: none

					button
						display: block
						position: relative
						font-size: 0
						width: 19px
						height: 19px
						border-radius: 50%
						background-color: transparent
						border: none
						outline: none

						&::before
							content: ''
							position: absolute
							background-color: $accent-green-color
							width: 4px
							height: 4px
							border-radius: 50%
							top: 50%
							left: 50%
							transform: translate(-50%, -50%)

						&:hover
							cursor: pointer

							&::after
								content: ''
								position: absolute
								top: 50%
								left: 50%
								transform: translate(-50%, -50%)
								background-color: transparent
								width: 19px
								height: 19px
								border: 2px solid $accent-green-color
								border-radius: 50%

		&__slide
			overflow: hidden

			.slide-img
				padding: 0 40px
				margin-bottom: 50px

				img
					max-width: 100%
					margin: 0 auto

			.slide-info

				.slide-header
					font-family: acme, sans-serif
					font-size: 12px
					font-weight: 400
					line-height: 24px
					letter-spacing: 2px
					text-align: left
					text-transform: uppercase
					margin-bottom: 10px

				.slide-text
					margin-bottom: 30px

				.slide-btn
					display: block
					@include btnPaddingX(54px)
					margin: 0 auto

					&:hover
						@include primaryBtnHover

	.plans
		position: relative
		top: -250px

		.section-header
			text-align: center

		&__slider-container

			.slick-slide
				margin-right: 13px

		&__slide
			padding: 35px 20px
			border-radius: 5px
			background-color: $white-color
			box-shadow: 0px 12px 24px 0px rgba(229, 229, 229, 1)
			max-width: 260px

		&__slide-header
			color: $accent-green-color
			font-family: acme, sans-serif
			font-size: 12px
			font-weight: 400
			line-height: 24px
			letter-spacing: 2.25px
			text-align: center
			text-transform: uppercase
			margin-bottom: 30px

		&__slide-list


		&__slide-list_item
			display: flex
			color: $gray-text-color
			padding-top: 10px
			margin-bottom: 15px
			border-top: 2px solid $footer-bg-color

			&-img
				margin-right: 10px

			&.disabled
				color: $light-gray-color

		&__slide-btn
			display: block
			margin: 0 auto
			margin-top: 45px
			@include btnPaddingX(40px)
			background-color: $white-color
			color: $accent-green-color

			&:hover
				@include secondaryBtnHover


	.reviews
		position: relative
		top: -150px

		&__slider-container

			.slick-dots
				margin-top: 50px
				position: relative
				display: flex
				justify-content: space-between
				width: 100%

				&::after
					content: ''
					position: absolute
					width: 100%
					height: 2px
					background-color: $light-gray-color
					border-radius: 4px
					bottom: -15px

				li
					list-style: none
					padding: 0 3px
					width: 50px

					button
						position: relative
						font-size: 0
						height: 30px
						width: 100%
						display: block
						border: none
						outline: none

						&:hover
							cursor: pointer

					&:nth-child(1)

						button
							background: url('../img/TuskVentures.png') center/contain
							background-repeat: no-repeat

					&:nth-child(2)

						button
							background: url('../img/LMS.png') center/contain
							background-repeat: no-repeat

					&:nth-child(3)

						button
							background: url('../img/calor.png') center/contain
							background-repeat: no-repeat

					&:nth-child(4)

						button
							background: url('../img/vayner.png') center/contain
							background-repeat: no-repeat

					&:nth-child(5)

						button
							background: url('../img/baron.png') center/contain
							background-repeat: no-repeat

					&.slick-active
						position: relative

						&::after
							content: ''
							position: absolute
							z-index: 5
							width: 100%
							height: 2px
							left: 0
							bottom: -15px
							background-color: $accent-green-color
							border-radius: 4px

		&__slide

			.slide-header
				text-align: center
				margin-bottom: 60px

				img
					max-width: 210px
					margin: 0 auto

			.slide-quote
				color: $gray-text-color

				.quote-text
					font-size: 16px
					text-align: center
					margin-bottom: 5px

				.quote-author
					font-family: acme, sans-serif
					font-size: 10px
					letter-spacing: 2px
					text-align: center
					text-transform: uppercase

	.get-in-touch
		position: relative
		margin-bottom: 400px

		&__img
			position: absolute
			width: 100%
			left: 0
			z-index: 5

			img
				max-width: 100%
				z-index: 5

		&__text
			margin-bottom: 10px

		&__forms
			position: relative
			background: -webkit-linear-gradient(90deg, rgb(44, 213, 202) 8%, rgb(0, 232, 159) 43%, rgb(18, 189, 232))
			background: -moz-linear-gradient(90deg, rgb(44, 213, 202) 8%, rgb(0, 232, 159) 43%, rgb(18, 189, 232))
			background: linear-gradient(90deg, rgb(44, 213, 202) 8%, rgb(0, 232, 159) 43%, rgb(18, 189, 232))
			margin-top: 75%
			padding: 30px
			border-radius: 5px
			z-index: 10

			input
				width: 100%
				background-color: transparent
				color: $white-color
				font-family: acme, sans-serif
				font-size: 10px
				line-height: 24px
				letter-spacing: 2px
				text-transform: uppercase
				outline: none
				border: none
				border-bottom: 2px solid $input-border-color
				padding: 5px 0
				margin-bottom: 14px

				&::placeholder
					color: $white-color

				&.msp-input
					margin-top: 40px

			.submit-btn
				display: flex
				color: $white-color

				span
					visibility: hidden

				button
					display: block
					margin-left: auto
					width: 25px
					height: 25px
					background-color: transparent
					border: none
					outline: none
					border-radius: 50%
					background: url('../img/arrow-right-wight.png') center

					&:hover
						cursor: pointer
	


.main-footer
	color: $gray-text-color
	background-color: $footer-bg-color

	.footer-blocks
		padding: 25px 0

		.footer-block
			position: relative
			margin-bottom: 15px

			&:not(.footer-links)::before
				position: absolute
				content: ''
				top: 0
				left: -30px
				width: calc(100% + 60px)
				height: 2px
				background-color: $accent-green-color

			a.view-map
				color: $accent-green-color
				font-family: aclonica, sans-serif
				font-size: 12px
				line-height: 20px
				letter-spacing: 0px

				&:hover
					color: $gray-text-color

			p
				font-family: aclonica, sans-serif
				font-size: 12px
				line-height: 20px
				letter-spacing: 0px

				&.main-phone
					font-family: acme, sans-serif
					line-height: 24px
					letter-spacing: 2px
					text-transform: uppercase

			.phone-number
				font-size: 16px
				font-style: normal
				font-weight: 400
				line-height: 36px
				color: $gray-text-color

				&:hover
					color: $accent-green-color

			.city-title
				font-family: aclonica, sans-serif
				font-size: 16px
				font-style: normal
				font-weight: 400
				line-height: 36px
				letter-spacing: 0px

			nav
				display: flex
				flex-direction: column

				li
					margin-bottom: 10px

					a
						color: $gray-text-color
						font-family: acme, sans-serif
						font-size: 12px
						line-height: 24px
						letter-spacing: 2px
						text-align: left
						text-transform: uppercase

						&:hover
							color: $accent-green-color

	.footer-socials
		padding-top: 20px
		position: relative

		&::before
			content: ''
			height: 1px
			width: calc(100% + 60px)
			position: absolute
			top: 0
			left: -30px
			background-color: $mid-gray-color

		ul
			display: flex
			justify-content: space-around

		.footer-logo
			text-align: center

			img
				max-width: 105px


// ===============================================================
// ==========================MEDIA================================
// ===============================================================


@media screen and (min-width: 768px)

	.hero

		.container

		&__tabs

			&.sticky
				left: 50%
				transform: translate(-50%, 0)

	.main 

		.cybersecurity
			margin-top: 80px

			.section-header
				margin-bottom: 35px

			.cybersecurity__items
				display: flex
				flex-wrap: wrap
				flex-direction: row
				justify-content: center

				.cybersecurity__item
					max-width: 45%
					margin: 0 15px 30px

			&__tip

				&-img
						width: 22px
						height: 22px

@media screen and (min-width: 992px)

	.main-header

		&__logo
			display: flex
			align-items: center

		.hamburger-menu
			display: none

		.desktop-menu
			display: flex

			.menu__nav

				ul
					height: 100%
					display: flex
					align-items: center

			.menu__item
				position: relative
				color: $white-color
				font-family: Acme, sans-serif
				font-size: 12px
				letter-spacing: 2px
				text-align: center
				padding: 5px 0
				margin-right: 20px

			.menu__item:hover::after, .menu__item.active::after
				content: ''
				position: absolute
				bottom: 0
				left: calc(50% - 20px)
				width: 40px
				height: 2px
				background-color: $white-color

			.menu__buttons

				.btn
					color: $white-color
					border-color: $white-color
					box-shadow: none

					&:hover
						cursor: pointer
						color: $white-color
						background-color: $accent-green-color
						border-color: $accent-green-color

					&:first-child
						margin-right: 0

				.get-skout-btn
					@include btnPaddingX(54px)

				.log-in-btn
					@include btnPaddingX(22px)

	.hero

		&__credo
			flex-direction: row
			justify-content: space-between
			padding: 0 20px

		.credo__phrase
			max-width: 670px

			p
				font-size: 20px
				line-height: 26px

				&::before
					position: absolute
					top: 5px
					left: 0
					content: ''
					width: 2px
					height: 75%
					background-color: $white-color

		&__slogan
			padding: 200px 30px 100px
			// padding-top: 200px
			// padding-bottom: 100px
			font-family: actor, sans-serif
			font-size: 110px
			line-height: 130px

	.main

		.section-header
			font-size: 42px
			line-height: 54px

		.about

			.container
					grid-template-columns: 600px auto
					grid-template-rows: repeat(3, 1fr)

			// .fade-in
			// 	opacity: 0

			// 	&.fade-show
			// 		opacity: 1
			// 		transition: opacity 2s

			// 	&.fade-in-main

			// 		&.fade-show
			// 			transition: opacity 1s

			&__img
				margin: 0
				order: 0
				grid-area: 1 / 1 / 4 / 2

				img

			&__info
				margin-left: 20px
				order: 1
				grid-area: 1 / 2 / 3 / 3
				display: flex
				flex-direction: column
				justify-content: center

			&__text
				font-family: aclonica, sans-serif
				font-size: 13px
				line-height: 24px
				letter-spacing: 0px
				text-align: left

			&__buttons
				text-align: center
				order: 1
				grid-area: 3 / 2 / 4 / 3


		.cybersecurity

			&__items
				display: flex
				flex-wrap: wrap
				flex-direction: row
				justify-content: center

			&__item
				max-width: 40%
				padding: 34px 18px 16px 60px

			&__item-header
				font-size: 24px
				line-height: 36px
				margin-bottom: 16px

			&__item-img

				img
					width: 68px

			.more-tips-btn
				@include btnPaddingX(75px)

		.problems

			.section-header
				margin: 0

			&__slider-container
				padding-top: 70px

				.problems__slide
					display: flex !important
					position: relative

				.slick-dots
					height: 100%
					flex-direction: column
					left: 100%
					top: 50%
					transform: translateY(-50%)

					li

						button
							width: 24px
							height: 24px
							margin-bottom: 10px

							&::before
								width: 6px
								height: 6px

							&:hover
								cursor: pointer

								&::after
									width: 24px
									height: 24px
									border: 3px solid $accent-green-color

				.slide-img
					padding: 0 150px
					order: 1

					img
						max-width: 350px

				.slide-info
					order: 0
					display: flex
					flex-direction: column
					justify-content: center

					.slide-header
						font-size: 18px
						margin-bottom: 20px

					.slide-text
						font-size: 16px
						margin-bottom: 60px
						// padding-right: 100px

					.slide-btn
						width: max-content
						margin: 0


	.main-footer

		.footer-blocks
			display: grid
			grid-template-columns: repeat(4, 1fr)

			.footer-links

				nav

					li
						margin-bottom: 25px

			.footer-contacts
				grid-column: 2 / 5

				.footer-block
					display: flex
					justify-content: space-between
					padding: 10px 0 40px 0

					&::before
						left: 0
						width: 100%

					.city-title
						font-size: 20px
						line-height: 36px
						flex-basis: 160px

					p
						font-size: 16px

					a
						font-size: 16px
						line-height: 24px

					.address
						flex-basis: 220px

		.footer-socials
			display: flex
			justify-content: space-between
			padding: 28px 0

			ul

				li
					margin-right: 52px


			&::before
				width: 100%
				left: 0

			.footer-logo

				img
					height: auto
					max-width: 170px

@media screen and (min-width: 1200px)

	.main-header

		.desktop-menu

			.menu__buttons

				.btn

					&:first-child
						margin-right: 20px

	.hero

		&__credo
			flex-direction: row
			justify-content: space-between
			padding: 0 80px

	.main

		.about

			&__img

			&__info
				margin-left: 100px

			&__text
				font-family: aclonica, sans-serif
				font-size: 13px
				line-height: 24px
				letter-spacing: 0px
				text-align: left

			&__buttons
				margin-left: 100px
				text-align: center
				order: 1
				grid-area: 3 / 2 / 4 / 3

				.learn-more-btn
					// margin-right: 70px

		.cybersecurity

			&__items

			&__item
				width: 500px

			&__item-img

				img
					width: 90px

		.plans

			&__slider-container

				.slick-track
					display: flex
					justify-content: space-around

				.slick-slide
					// margin-right: 50px
					// max-width: 330px !important

			&__slide
				padding: 40px
				max-width: 330px

			&__slide-header
				font-size: 12px
				line-height: 24px
				letter-spacing: 2.25px
				margin-bottom: 30px

			&__slide-list


			&__slide-list_item
				display: flex
				color: $gray-text-color
				padding-top: 10px
				margin-bottom: 15px
				border-top: 2px solid $footer-bg-color

				&-img
					margin-right: 10px

				&.disabled
					color: $light-gray-color

			&__slide-btn
				margin-top: 45px
				@include btnPaddingX(40px)



	.main-footer

		.footer-blocks

			.footer-contacts

				.footer-block

					.city-title
						font-size: 24px
						line-height: 36px
						flex-basis: 210px

					p
						font-size: 16px

					a
						font-size: 16px
						line-height: 24px

					.address
						flex-basis: 220px

@media screen and (min-width: 1400px)

	.main

		.about

			&__buttons

				.learn-more-btn
					margin-right: 50px

		.cybersecurity

			&__tip
						
					&:hover

						&::after
							left: -140px
