$gray-text-color: #7F7F7F
$main-text-color: #191919
$dark-color: #1A1A1A
$white-color: #fff

$light-gray-color: #E5E5E5
$mid-gray-color: #B2B2B2

$footer-bg-color: #F2F2F2

$accent-green-color: #22BF95
$secondary-green-color: #90DFCA

$accent-blue-color: #37A4E6
$secondary-blue-color: #73BFED
$light-blue-color: #CDE8F9

$transition-time: .3s

