@font-face {
  font-family: "aclonica";
  src: url("../fonts/aclonica-regular-webfont.eot");
  src: url("../fonts/aclonica-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aclonica-regular-webfont.woff2") format("woff2"), url("../fonts/aclonica-regular-webfont.woff") format("woff"), url("../fonts/aclonica-regular-webfont.ttf") format("truetype"), url("../fonts/aclonica-regular-webfont.svg#aclonicaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "acme";
  src: url("../fonts/acme-regular-webfont.eot");
  src: url("../fonts/acme-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/acme-regular-webfont.woff2") format("woff2"), url("../fonts/acme-regular-webfont.woff") format("woff"), url("../fonts/acme-regular-webfont.ttf") format("truetype"), url("../fonts/acme-regular-webfont.svg#acmeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "actor";
  src: url("../fonts/actor-regular-webfont.eot");
  src: url("../fonts/actor-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/actor-regular-webfont.woff2") format("woff2"), url("../fonts/actor-regular-webfont.woff") format("woff"), url("../fonts/actor-regular-webfont.ttf") format("truetype"), url("../fonts/actor-regular-webfont.svg#actorregular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, li {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #191919; }

body {
  font-family: aclonica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #191919; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px; }

.btn {
  font-family: acme, sans-serif;
  display: inline-block;
  text-transform: uppercase;
  height: 40px;
  border: 2px solid #22BF95;
  background-color: #22BF95;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 2px;
  outline: none; }

.btn-outline {
  background-color: transparent;
  color: #22BF95; }

.main-header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 18px; }
  .main-header__container {
    display: flex;
    justify-content: space-between; }
    .main-header__container #menu__toggle {
      opacity: 0; }
    .main-header__container .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 18px;
      width: 22px;
      height: 22px;
      cursor: pointer;
      z-index: 1; }
    .main-header__container .menu__btn > span,
    .main-header__container .menu__btn > span::before,
    .main-header__container .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff; }
    .main-header__container .menu__btn > span::before {
      content: "";
      top: -6px; }
    .main-header__container .menu__btn > span::after {
      content: "";
      top: 6px; }
    .main-header__container .menu__box {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      visibility: hidden;
      top: 65px;
      right: -100%;
      width: 100%;
      height: calc(100% - 65px);
      margin: 0;
      padding: 40px 0;
      list-style: none;
      text-align: center;
      background-color: #fff;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2); }
      .main-header__container .menu__box .menu__item {
        position: relative;
        display: block;
        color: #22BF95;
        font-family: Acme, sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center;
        padding: 5px 0;
        margin-bottom: 15px; }
      .main-header__container .menu__box .menu__item:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: calc(50% - 20px);
        width: 40px;
        height: 2px;
        background-color: #22BF95; }
      .main-header__container .menu__box .menu__buttons .btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 16px; }
      .main-header__container .menu__box .menu__buttons .get-skout-btn {
        padding: 0 54px; }
      .main-header__container .menu__box .menu__buttons .log-in-btn {
        padding: 0 22.5px; }
    .main-header__container #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg); }
    .main-header__container #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0); }
    .main-header__container #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg); }
    .main-header__container #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      right: 0; }
  .main-header__logo {
    z-index: 2; }
    .main-header__logo img {
      height: 20px;
      width: auto; }

.hero {
  position: relative;
  color: #fff;
  background: #11C0E6;
  background: -webkit-linear-gradient(60deg, #11C0E6 20%, #01F86E 95%);
  background: -moz-linear-gradient(60deg, #11C0E6 20%, #01F86E 95%);
  background: linear-gradient(60deg, #11C0E6 20%, #01F86E 95%); }
  .hero__slogan {
    text-transform: uppercase;
    font-family: actor, sans-serif;
    font-size: 60px;
    font-weight: normal;
    line-height: 70px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 75px; }
  .hero__tabs {
    position: relative;
    bottom: -30px;
    background-color: #fff;
    border-radius: 5px;
    border-top: 3px solid #22BF95;
    box-shadow: 0px 12px 24px 0px #F2F2F2;
    padding: 10px 0; }
    .hero__tabs nav {
      display: flex; }
    .hero__tabs .tab-item {
      flex-grow: 1;
      text-align: center;
      font-family: acme, sans-serif;
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      color: #7F7F7F;
      line-height: 20px;
      border-right: 2px solid #E5E5E5; }
      .hero__tabs .tab-item:last-child {
        border: none; }

.main {
  padding-top: 50px; }
  .main .section-header {
    padding-top: 10px;
    position: relative; }
    .main .section-header::before {
      content: "";
      position: absolute;
      width: 100%;
      background-color: #B2B2B2;
      height: 1.5px;
      border-radius: 5px;
      top: 0;
      left: 0; }
    .main .section-header img {
      height: 20px;
      width: auto; }
  .main .accordion-block {
    margin: 20px 0; }
    .main .accordion-block .accordion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      color: #191919;
      background-color: #fff;
      font-family: aclonica, sans-serif;
      line-height: 24px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-top: 1.5px solid #22BF95;
      width: 100%;
      text-align: left;
      outline: none;
      transition: 0.4s;
      padding: 15px 0;
      padding-left: 60px;
      transition: 0.3s; }
      .main .accordion-block .accordion:hover {
        background-color: #CDE8F9; }
      .main .accordion-block .accordion:last-of-type {
        border-bottom: 1.5px solid #22BF95; }
      .main .accordion-block .accordion::before {
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        left: 15px;
        top: 0;
        font-family: actor, sans-serif;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 2px;
        color: #E5E5E5; }
      .main .accordion-block .accordion.acc-1::before {
        content: "1"; }
      .main .accordion-block .accordion.acc-2::before {
        content: "2"; }
      .main .accordion-block .accordion.acc-3::before {
        content: "3"; }
      .main .accordion-block .accordion.acc-4::before {
        content: "4"; }
      .main .accordion-block .accordion span {
        position: relative;
        top: 40%;
        right: 10px;
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid #22BF95;
        box-shadow: 0px 3px 6px 0px rgba(127, 127, 127, 0.3);
        border-radius: 50%; }
        .main .accordion-block .accordion span::before {
          position: absolute;
          top: 2px;
          left: 5px;
          content: "";
          width: 2px;
          height: 8px;
          background-color: #22BF95;
          border-radius: 5px; }
        .main .accordion-block .accordion span::after {
          position: absolute;
          top: 5px;
          left: 2px;
          content: "";
          width: 8px;
          height: 2px;
          background-color: #22BF95;
          border-radius: 5px; }
      .main .accordion-block .accordion.active {
        font-size: 19px;
        padding-left: 0; }
        .main .accordion-block .accordion.active::before {
          content: ""; }
        .main .accordion-block .accordion.active span::before {
          content: "";
          width: 0;
          height: 0; }
      .main .accordion-block .accordion__content {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden; }
        .main .accordion-block .accordion__content.show {
          display: block; }
        .main .accordion-block .accordion__content p {
          font-size: 14px;
          margin-bottom: 20px; }
      .main .accordion-block .accordion__img {
        text-align: center;
        margin: 10px 0; }
        .main .accordion-block .accordion__img img {
          width: 117px;
          height: auto; }
      .main .accordion-block .accordion__footer {
        position: relative;
        color: #7F7F7F;
        font-size: 12px;
        padding-left: 40px; }
        .main .accordion-block .accordion__footer::before {
          content: "";
          position: absolute;
          left: 0;
          width: 30px;
          height: 30px;
          background: url("../img/i-icon.png") center/cover; }
  .main .glossary__slider {
    margin-top: 15px;
    padding: 30px 0;
    background: -webkit-linear-gradient(135deg, #ebfaf5, #e1e1e1, #e1e3ef);
    background: -moz-linear-gradient(135deg, #ebfaf5, #e1e1e1, #e1e3ef);
    background: linear-gradient(135deg, #ebfaf5, #e1e1e1, #e1e3ef); }
    .main .glossary__slider .slideshow-container {
      position: relative; }
    .main .glossary__slider .mySlides {
      display: none;
      position: relative;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 12px 24px #E5E5E5;
      padding: 40px;
      margin-bottom: 40px; }
    .main .glossary__slider .slide-item-content .slide-item-header {
      word-wrap: break-word;
      font-family: actor, sans-serif;
      font-size: 32px;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 24px;
      padding-left: 16px; }
    .main .glossary__slider .slide-item-content .slide-item-text {
      position: relative;
      font-size: 16px;
      line-height: 24px;
      padding-left: 16px; }
      .main .glossary__slider .slide-item-content .slide-item-text::before {
        position: absolute;
        top: 5px;
        left: 0;
        content: "";
        width: 2px;
        height: 65%;
        background-color: #22BF95; }
    .main .glossary__slider .prev, .main .glossary__slider .next {
      cursor: pointer;
      position: absolute;
      top: 32px;
      right: 52px;
      transition: 0.6s ease;
      user-select: none; }
      .main .glossary__slider .prev img, .main .glossary__slider .next img {
        border-radius: 50%;
        opacity: 0.5;
        transition: 0.3s; }
    .main .glossary__slider .prev {
      top: 64px; }
    .main .glossary__slider .prev:hover img, .main .glossary__slider .next:hover img {
      opacity: 1;
      box-shadow: 0px 1px 3px rgba(127, 127, 127, 0.2); }
    .main .glossary__slider .text {
      color: #7F7F7F;
      font-size: 16px;
      line-height: 32px;
      width: 100%; }
      .main .glossary__slider .text ul li {
        position: relative;
        user-select: none; }
        .main .glossary__slider .text ul li:hover {
          cursor: pointer; }
          .main .glossary__slider .text ul li:hover::before {
            left: -35px;
            top: 50%;
            position: absolute;
            content: "";
            width: 30px;
            height: 2px;
            border-radius: 2px;
            background-color: #22BF95; }
        .main .glossary__slider .text ul li.active::before {
          left: -35px;
          top: 50%;
          position: absolute;
          content: "";
          width: 30px;
          height: 2px;
          border-radius: 2px;
          background-color: #22BF95; }
    .main .glossary__slider .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 0.3s;
      animation-name: fade;
      animation-duration: 0.3s; }
@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
  .main .faqs {
    padding-top: 30px; }
    .main .faqs__accordion .accordion {
      border: none;
      padding-right: 30px; }
      .main .faqs__accordion .accordion:last-of-type {
        border: none; }
      .main .faqs__accordion .accordion::before {
        content: "Q";
        left: 0; }
      .main .faqs__accordion .accordion span {
        position: absolute;
        right: 0;
        width: 18px;
        height: 11px;
        border: none;
        box-shadow: none;
        background: url("../img/arrow-down.png") center/cover; }
        .main .faqs__accordion .accordion span::before, .main .faqs__accordion .accordion span::after {
          content: none; }
      .main .faqs__accordion .accordion.active {
        font-size: 16px;
        padding-left: 60px; }
        .main .faqs__accordion .accordion.active span {
          background: url("../img/arrow-up.png") center/cover; }
        .main .faqs__accordion .accordion.active::before {
          content: "Q"; }
      .main .faqs__accordion .accordion__content {
        padding: 0; }
        .main .faqs__accordion .accordion__content p {
          position: relative;
          padding-left: 60px;
          padding-right: 30px; }
          .main .faqs__accordion .accordion__content p::before {
            content: "A";
            height: 100%;
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: 3px;
            font-family: actor, sans-serif;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 2px;
            color: #E5E5E5; }
    .main .faqs__accordion .more-faqs-btn {
      font-family: acme, sans-serif;
      font-size: 12px;
      letter-spacing: 2px;
      background-color: transparent;
      border: none;
      outline: none;
      color: #22BF95;
      display: block;
      margin: 0 auto;
      margin-top: 20px; }
      .main .faqs__accordion .more-faqs-btn:hover {
        cursor: pointer;
        border-bottom: 2px solid #22BF95; }

.main-footer {
  color: #7F7F7F;
  background-color: #F2F2F2; }
  .main-footer .footer-blocks {
    padding: 25px 0; }
    .main-footer .footer-blocks .footer-block {
      position: relative;
      margin-bottom: 15px; }
      .main-footer .footer-blocks .footer-block::before {
        position: absolute;
        content: "";
        top: 0;
        left: -30px;
        width: calc(100% + 60px);
        height: 2px;
        background-color: #22BF95; }
      .main-footer .footer-blocks .footer-block:first-of-type::before {
        content: none; }
      .main-footer .footer-blocks .footer-block a.view-map {
        color: #22BF95;
        font-family: aclonica, sans-serif;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0px; }
        .main-footer .footer-blocks .footer-block a.view-map:hover {
          color: #7F7F7F; }
      .main-footer .footer-blocks .footer-block p {
        font-family: aclonica, sans-serif;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0px; }
        .main-footer .footer-blocks .footer-block p.main-phone {
          font-family: acme, sans-serif;
          line-height: 24px;
          letter-spacing: 2px;
          text-transform: uppercase; }
      .main-footer .footer-blocks .footer-block .phone-number {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; }
      .main-footer .footer-blocks .footer-block h5 {
        font-family: aclonica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0px; }
      .main-footer .footer-blocks .footer-block nav {
        display: flex;
        flex-direction: column; }
        .main-footer .footer-blocks .footer-block nav a {
          color: #7F7F7F;
          font-family: acme, sans-serif;
          font-size: 12px;
          line-height: 24px;
          letter-spacing: 2px;
          text-align: left;
          text-transform: uppercase;
          margin-bottom: 10px; }
          .main-footer .footer-blocks .footer-block nav a:hover {
            color: #22BF95; }
  .main-footer .footer-socials ul {
    display: flex;
    justify-content: space-around; }
  .main-footer .footer-socials .footer-logo {
    text-align: center; }
    .main-footer .footer-socials .footer-logo img {
      max-width: 105px; }

/*# sourceMappingURL=main.css.map */
